using System.Text.RegularExpressions;
using Microsoft.OpenApi.Models;
using Swashbuckle.AspNetCore.SwaggerGen;

namespace {Company}.{Service}.Api.OpenApi;

public sealed class LowerCaseDocumentFilter : IDocumentFilter
{
    public void Apply(OpenApiDocument swaggerDoc, DocumentFilterContext context)
    {
        var paths = swaggerDoc.Paths.ToDictionary(
            path => PreserveDynamicParameters(path.Key),
            path => path.Value);

        swaggerDoc.Paths = new OpenApiPaths();
        foreach (var path in paths)
        {
            swaggerDoc.Paths.Add(path.Key, path.Value);
        }
    }

    private static string PreserveDynamicParameters(string path)
    {
        var regex = new Regex(@"\{[^/}]+}");

        return string.Join(
            "/",
            path.Split('/').Select(segment => regex.IsMatch(segment)
                ? segment
                : segment.ToLowerInvariant()));
    }
}
