using Serilog;

namespace {Company}.{Service}.Api.Logging;

public static class SeriLogger
{
    public static void Configure(WebApplicationBuilder builder)
    {
        Log.Logger = new LoggerConfiguration()
            .ReadFrom.Configuration(builder.Configuration)
            .Enrich.FromLogContext()
            .Enrich.With(new EcsLogEnricher())
            .Enrich.WithProperty(LogFields.ServiceEnvironment, builder.Environment.EnvironmentName.ToLowerInvariant())
            .Enrich.WithProperty(LogFields.HostName, Environment.MachineName)
            .CreateLogger();

        builder.Host.UseSerilog();
    }
}
