using {Company}.{Service}.Api.ExceptionHandling;
using {Company}.{Service}.Api.Hosting;
using {Company}.{Service}.Api.RateLimiting;

namespace {Company}.{Service}.Api.Extensions;

public static class ApplicationExtensions
{
    public static void UseInfrastructure(this WebApplication app)
    {
        app.UseReverseProxyForwardedHeaders();
        app.UseHttpsRedirection();
        app.UseMiddleware<ExceptionEnvelopeMiddleware>();

        if (app.Environment.IsDevelopment())
        {
            app.UseSwagger();
            app.UseSwaggerUI();
        }

        app.UseCors();
        app.UseAuthentication();
        app.UseAuthorization();
        app.UseRateLimiter();

        app.MapHealthChecks("/health").AllowAnonymous();
        app.MapControllers().RequireRateLimiting(RateLimitingExtensions.ApiPolicyName);
    }
}
